@using MvcKutuphane.Models.Entity
@model List<TBL_DUYURULAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<table class="table table-bordered">
    <tr style="background-color:rgb(252,178,22)">
        <th>Duyuru No</th>
        <th>Kategori</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>İçerik</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Kategori</td>
            <td>@Convert.ToDateTime(x.Tarih).ToString("dd/MM/yyyy")</td>
            <td><a class="btn btn-danger"  href="/Duyuru/DuyuruSil/@x.ID">Sil</a></td>
            <td><a class="btn btn-default" href="/Duyuru/DuyuruDetay/@x.ID">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Duyuru/DuyuruEkle/" class="btn btn-primary">Duyuru Ekle</a>



