@using MvcKutuphane.Models.Entity
@model List<TBL_KATEGORİ>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}



<table class="table table-bordered">

    <tr style="background-color: rgba(200, 133, 43, 0.42)">
        <th>Kategori ID</th>
        <th>Kategori Ad</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
   @foreach(var x in Model) {
<tr>
    <td>@x.ID</td>
    <td>@x.Ad</td>
    <td>
        <a href="/Kategori/KategoriSil/@x.ID" class="btn btn-danger">Sil</a>
    </td>
    <td>
        <a href="/Kategori/KategoriGetir/@x.ID" class="btn btn-success">Güncelle</a>
    </td>
</tr>
   }
</table>
<a href="/Kategori/KategoriEkle/" class="btn btn-primary">Yeni Kategori Ekle</a>
