@using MvcKutuphane.Models.Entity
@model List<TBL_DUYURULAR>
@{
    ViewBag.Title = "Duyurular";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}


<table class="table table-bordered">
    <tr style="background-color:rgb(252,178,22)">
        <th>Kategori</th>
        <th>Tarih</th>
        <th>İçerik</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Kategori</td>
            <td>@Convert.ToDateTime(x.Tarih).ToString("dd/MM/yyyy")</td>
            <td>@x.Icerik</td>
        </tr>
    }
</table>






