@model MvcKutuphane.Models.Entity.TBL_MESAJLAR
@{
    ViewBag.Title = "YeniMesaj";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}



<form class="form-group" method="post">

    <div style="margin-top:15px">
        <label>Alıcı Mail:</label>
        @Html.TextBoxFor(k =>k.Alici, new { @class = "form-control" })
        <div style="margin-top:15px">
            <label>Konu:</label>
            @Html.TextBoxFor(k => k.Konu, new { @class = "form-control" })
        </div>
        <div style="margin-top:15px">
            <label>İçerik:</label>
            @Html.TextBoxFor(k => k.Icerik, new { @class = "form-control" })
        </div>

        <div style="margin-top:15px"></div>
        <button class="btn btn-info">Gönder</button>
        <input type="hidden" name="IslemDurum" value="False" />
</form>