@model MvcKutuphane.Models.Entity.TBL_PERSONEL

@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div style="margin-bottom:15px; margin-top:15px;"></div>


<form method="post">
    <div style="margin-bottom:15px; margin-top:15px;"></div>
    <label>Personel Ad Soyad</label>
    @Html.TextBoxFor(x => x.PersonelAdSoyad, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.PersonelAdSoyad, "", new {@class= "text-danger" })
    <div style="margin-bottom:15px; margin-top:15px;"></div>
    <button type="submit" class="btn btn-primary">Personel Ekle</button>
</form>

