
@{
    ViewBag.Title = "HavaKart";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<h3 style="color:green">Beyoğlu Şubemiz</h3>
<a class="weatherwidget-io" href="https://forecast7.com/tr/41d0428d97/beyoglu/" data-label_1="BEYOĞLU" data-label_2="Hava Durumu" data-theme="original">BEYOĞLU Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<h3 style="color:green">Esenyurt Şubemiz</h3>
<a class="weatherwidget-io" href="https://forecast7.com/tr/41d0328d66/esenyurt/" data-label_1="ESENYURT" data-label_2="Hava Durumu" data-theme="original">ESENYURT Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<h3 style="color:green">Büyükçekmece Şubemiz</h3>
<a class="weatherwidget-io" href="https://forecast7.com/tr/41d0228d59/buyukcekmece/" data-label_1="BÜYÜKÇEKMECE" data-label_2="Hava Durumu" data-theme="original">BÜYÜKÇEKMECE Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>