@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Kayıt Formu</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Kurs Kayıt Formu Responsive web şablonu, Bootstrap Web Şablonları, Flat Web Şablonları, Android Uyumlu web şablonu,
Akıllı Telefon Uyumlu web şablonu, Nokia, Samsung, LG, SonyEricsson, Motorola için ücretsiz web tasarımları" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="~/webregister/css/style.css" type="text/css" rel="stylesheet" media="all">


    <link rel="stylesheet" href="~/webregister/css/font-awesome.css"> 

</head>
<body>
    <section class="register">
        <div class="register-full">
            <div class="register-left">
                <div class="register">
                    <div class="logo">
                        <a href="#"><span class="fa fa-graduation-cap" aria-hidden="true"></span></a>
                    </div>
                    <h1>MVC5 Kütüphane Yönetim Sistemi</h1>
                    <p>
                        Donec ipsum lorem, sodales a sagittis ut, tristique purus. Aenean in est pretium lectus euismod facilisis.
                        Aliquam dapibus rhoncus ex quis fringilla. Proin interdum eros mauris, hendrerit suscipit lectus cursus et.
                    </p>
                    <div class="content3">
                        <ul>
                            <li><a class="" href="/Login/Index/"> Giriş Yap</a></li>
                            <li><a class="read" href="/Vitrin/Index"> Siteye Dön</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="register-right">
                <div class="register-in">
                    <h2><span class="fa fa-pencil"></span> Kayıt Olun</h2>
                    <div class="register-form">
                        <form action="#" method="post">
                            <div class="fields-grid">
                                <div class="styled-input agile-styled-input-top">
                                    <input type="text" name="UyeAdSoyad" required="">
                                    <label>Adınızı ve Soyadınızı Giriniz</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="email" name="UyeMail" required="">
                                    <label>E-posta</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="text" name="UyeKullaniciAd" required="">
                                    <label>Kullanıcı Ad</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="password" name="UyeSifre">
                                    <label>Şifre</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="text" name="UyeTelefon" >
                                    <label>Telefon</label>
                                    <span></span>
                                </div>
                                <div class="styled-input agile-styled-input-top">
                                    <select id="ogrenimDurumu" name="OgrenimDurumu" required>
                                        <option value="">Öğrenim Durumu*</option>
                                        <option value="ilkokul">İlkokul</option>
                                        <option value="ortaokul">Ortaokul</option>
                                        <option value="lise">Lise</option>
                                        <option value="onlisans">Önlisans</option>
                                        <option value="lisans">Lisans</option>
                                        <option value="yuksek_lisans">Yüksek Lisans</option>
                                        <option value="doktora">Doktora</option>
                                    </select>
                                    <span></span>
                                </div>

                                <div class="clear"> </div>
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Şartlar ve Koşulları kabul ediyorum <a href="#">Şartlar ve Koşullar</a></label>
                            </div>
                            <input type="submit" value="Kayıt Ol">
                        </form>
                    </div>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
        </div>
        <p class="agile-copyright">© 2025 Kurs Kayıt Formu. Tüm Hakları Saklıdır | Tasarım <a href="https://w3layouts.com/" target="_blank">W3layouts</a></p>

    </section>

</body>

</html>
